#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
  width:95%;
  height:95%;
  margin:auto;
  background-color: #A7B6C3;
}
#Navbar {
  background-color: #8A9BA8;
}
#content {
  flex:2;
  /* width:1200px; */
}
